.scene-editor-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.scene-editor-main {
  flex: 6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
}

.scene-editor-no-project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}