.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 820px) {
  .app-layout--editor-route .sidebar {
    display: none;
  }
}
